<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Day of the Week Message</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h2>Enter a Day of the Week</h2>
    <form action="/weather-at-location-and-time/" method="post">
        <input type="text" name="address" placeholder="Enter address or city" required>
        <input type="number" name="time" placeholder="Time in the future in hours (up to 160 hrs)" required>
        <button type="submit">Submit</button>
    </form>
    {% if message %}
        <p><strong>Message: </strong>{{ message }}</p>
    {% endif %}
</body>
</html>

